dynomike/dynomike.xcodeproj/xcuserdata/
dynomike/dynomike.xcworkspace/xcuserdata/
dynomike/.DS_Store
dynomike/dynomike/.DS_Store
dynomike/dynomike/CoreData/.DS_Store
dynomike/dynomike/Resources/.DS_Store
dynomike/Pods/Pods.xcodeproj/xcuserdata/
dynomike/Frameworks/Alamofire/Alamofire.xcodeproj/xcuserdata/
.DS_Store
