dynomike/dynomike.xcodeproj/xcuserdata/
dynomike/dynomike.xcworkspace/xcuserdata/
dynomike/.DS_Store
dynomike/dynomike/.DS_Store
dynomike/dynomike/Core Data/.DS_Store
dynomike/dynomike/Resources/.DS_Store
